@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #DE8022;
  --secondary: #FFF2E5;
  --grey: #B0A69D;
  --grey2: #5C5C5C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #DE8022;
    --secondary: #FFF2E5;
    --grey: #B0A69D;
    --grey2: #5C5C5C;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
